<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img class="main-logo" src="/assets/Frame.svg" alt="">
        </div>
        <nav class="header-nav">
        <div class="header-nav-item " routerLink="/" >{{headerItem}}</div>
        <div class="header-nav-item">{{headerItem2}}</div>
        <div class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</div>
        <div class="header-nav-item" routerLink="/users">{{headerItem1}}</div>

        </nav>
        <button (click)="isShowCatalog = !isShowCatalog">hide/show catalog</button>
        <button (click)="changeMenuText()">change Text</button>
        </div>
    
    
    
    <div class="header-right">
    
        <nav class="header-nav">
            <div class="header-logo">
                <img src="/assets/Phone.svg" alt="">
                <div class="header-nav-item">+7 (965) 084-29-29</div>
            </div>
            
            <div class="header-nav-item">
                <img class="like-img" src="/assets/heart 1.svg" alt="">
            </div>
            <button class="header-right-btn">
            <div class="header-nav-item">
                <img  class="korzina" src="/assets/Mask group.svg" alt="">
            </div>
            <div class="header-nav-item">Пусто</div>
    
        </button>
            </nav>
       
        <div>
            
        </div>
       
    </div>
    </div>
    
     <!-- <router-outlet></router-outlet> -->
    
    
     <div class="under-header">
        <div class="under-header-left">
            <div class="un-header-logo">
                <img src="/assets/katalog-burger.svg" alt="">
            </div>
    
            <nav class="un-header-nav">
                <div class="un-header-nav-item " *ngFor="let item of menuItems">{{item}}</div>
    
                </nav>
    
        </div>
    
        <div class="under-header-right">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной">
                <div class="search-icon">
                    <img src="/assets/find_icon.svg" alt="">
                </div>
                <div></div>
        </div>
    
        <div class="un-header-nav-item">
            <img class="map-pin" src="/assets/map-pin.svg" alt="">
            <div class="un-header-nav-item-right">Москва</div>
        </div>
       
    
    </div>
    
    </div>
    