<div class="header">
<div class="header-left">
    <div class="header-logo">
        <img class="main-logo" src="/assets/Frame.svg" alt="">
    </div>
    <nav class="header-nav">
    <div class="header-nav-item">Главная</div>
    <div class="header-nav-item">О компании</div>
    <div class="header-nav-item">Каталог</div>
    </nav>
    </div>

<div class="header-right">

    <nav class="header-nav">
        <div class="header-logo">
            <img src="/assets/Phone.svg" alt="">
            <div class="header-nav-item">+7 (965) 084-29-29</div>
        </div>
        
        <div class="header-nav-item">
            <img class="like-img" src="/assets/heart 1.svg" alt="">
        </div>
        <button class="header-right-btn">
        <div class="header-nav-item">
            <img  class="korzina" src="/assets/Mask group.svg" alt="">
        </div>
        <div class="header-nav-item">Пусто</div>

    </button>
        </nav>
   
    <div>
        
    </div>
   
</div>
</div>


<div class="under-header">
    <div class="under-header-left">
        <div class="un-header-logo">
            <img src="/assets/katalog-burger.svg" alt="">
        </div>

        <nav class="un-header-nav">
            <div class="un-header-nav-item">Каталог</div>
            <div class="un-header-nav-item">Стройматериалы</div>
            <div class="un-header-nav-item">Инструменты</div>
            <div class="un-header-nav-item">Электрика</div>
            <div class="un-header-nav-item">Интерьер и одежда</div>
            </nav>

    </div>

    <div class="under-header-right">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной">
            <div class="search-icon">
                <img src="/assets/find_icon.svg" alt="">
            </div>
            <div></div>
    </div>

    <div class="un-header-nav-item">
        <img class="map-pin" src="/assets/map-pin.svg" alt="">
        <div class="un-header-nav-item-right">Москва</div>
    </div>
   

</div>



















<!-- 
<div class="under header">
    <div class="header-left">
        <div class="header-logo">
            <img src="/assets/katalog-burger.svg" alt="">
        </div>
        <nav class="header-nav">
        <div class="header-nav-item">Каталог</div>
        <div class="header-nav-item">Стройматериалы</div>
        <div class="header-nav-item">Инструменты</div>
        <div class="header-nav-item">Электрика</div>
        <div class="header-nav-item">Интерьер и одежда</div>

        </nav>
        </div>
    
    <div class="header-right">
    
        <nav class="header-nav">
            <form action="" method="get">
                <input name="s" placeholder="Поиск, например Круг зачистной " type="search">
                <button c type="submit">
                    <img src="/assets/Search.svg" alt="">
                </button>
              </form>

              <div class="header-nav-item">Москва</div>

            </nav>

            
       
        <div>
            
        </div>
       
    </div>
    </div> -->