<app-header></app-header>
<router-outlet></router-outlet>
<router-outlet name="users"></router-outlet>


 <footer>
    <div class="footer-container">
        <div class="footer-left">
            <img src="/assets/Frame.svg" alt="EGE Logo" class="logo">
            <div class="contact-info">
                <div class="contact-block">
                    <div class="phone-block">
                <img src="/assets/Phone.svg" alt="">
                <p>Контактный телефон</p>
            </div>
                <p class="flex-class">+7 (812) 309-09-34</p>
                <p class="flex-class">+7 (965) 084-29-09</p>
            </div>
            <div class="email-flex">
            <div class="email-block">
                <img src="/assets/email-ic.svg" alt="">
                <p >Электронная почта</p>
               
            </div>
                <a class="flex-class" href="mailto:tustin78@mail.ru">tustin78mail.ru</a>
            </div>
            </div>
        
        </div>
        <div class="footer-right">
            <h3>Остались вопросы?</h3>
            <p>Узнавайте первыми о скидках, предложениях и событиях еженедельно в своём почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</p>
            <div class="subscribe-form">
                <img src="/assets/email-ic.svg" alt="">
                <input type="email" placeholder="Введите свою почту">
                <button type="submit">Отправить</button>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="under-footer">
        <ul class="footer-links">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Каталог</a></li>
        </ul>
        <div class="social-media">
            <a href="#"><img src="/assets/facebook.svg" alt="Facebook"></a>
            <a href="#"><img src="/assets/youtube.svg" alt="YouTube"></a>
            <a href="#"><img src="/assets/whts.svg" alt="WhatsApp"></a>
            
        </div>
        
        </div>
        <p class="pp">© 2021-2022, EGE</p>
        
    </div>
</footer> 
